/spawnManager/.vs
/spawnManager/Binaries
/spawnManager/Intermediate
/spawnManager/Plugins/DAI_Spawner/Intermediate
/spawnManager/Plugins/DAI_Spawner/Binaries
/spawnManager/Saved
spawnManager/Plugins/DAI_Spawner.zip
/spawnManager/Plugins/DAI_UltraSky/DAI_UltraSky/Intermediate
/spawnManager/Plugins/DAI_UltraSky/DAI_UltraSky/Intermediate
